body{

    padding: 0px;
    margin: 0px;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    direction: ltr;
    }
    
    
    /**This Is Navbar**/
    .offcanvas-end{
    
    direction: ltr;
    right: 75%;
    width: 25%;
    
    }
    
    .navbar{
    
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    direction: rtl;
    
    
    }
    
    .offcanvas-body{
    
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    
    }
    
    
    
    .dropdown .dropdown-menu{
    
    display: none;
    }
    
    .navbar-brand{
    
    font-weight: 600;
    font-family: 'Tajawal', sans-serif;
    font-size: 25px;
    
    }
    
    .one1{
    
        background-color: #5d6369!important;
    }
    
    .navbar-brand span{
    
    color: #0da574;
    }
    
    .navbar-light .navbar-toggler{
    
    border: none;
    outline: none;
    }
    
    .navbar-toggler{
    
        font-size: 1.3rem;
        
    }
    
    .navbar-toggler i{
    
    color: #555;
    }
    
    .navbar-toggler:focus{
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
    }
    
    .offcanvas-end ul li a{
    
    font-size: 16px;
    }
    
    .nav-item .nav-link span{
    
    padding-right: 7px;
    }
    
    .nav-link {
    
        padding: 0.8rem 1rem;
        font-family: 'Tajawal', sans-serif;
        font-weight: 500;
    
    }
    
    .offcanvas-title{
    
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    }
    
    .offcanvas-title span{
    
        color: #0da574;
    
    }
    
    
    @media(max-width:768px){

    .offcanvas-end{
    
    direction: ltr;
    width: 100%;
    right: 0%;
    
}
    }

    /**End Navbar**/
    
    
    /**This Is Header**/
    
    .header
    {
    direction: ltr;
    font-family: 'Tajawal', sans-serif;
    
    }
    
    .header .one{
    
    background-image: url(../image/1.jpg);
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    
    }
    
    
    .header .two{
    
    background-image: url(../image/pexels-ono-kosuki-5974281.jpg);
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    }
    
    
    
    .header .three{
    
    background-image: url(../image/3.jpg);
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    }
    
    .header .one .alpha,.header .two .alpha,.header .three .alpha{
    
    background-color: rgba(0,0,0,0.33);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
    
    .carousel-indicators [data-bs-target]{
    
    border-radius: 50%;
    width: 10px;
    height: 10px;
    }
    
    .header .one .alpha div,.header .two .alpha div,.header .three .alpha div{
    
    width: 70%;
    
    }
    
    .header h2{
    
    color: #fff;
    font-size: 48px;
    }
    
    .header p{
    
    color: #eee;
    font-size: 15.5px;
    padding: 10px 0px;
    width: 60%;
    margin: auto;
    line-height: 1.8em;
    }
    
    .header a{
    
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    }
    
    .header .alpha button{
    
    padding: 9px 28px;
    border: none;
    background-color: #8cb600ef;
    border-radius: 4px;
    transition: 0.5s;
    
    }
    
    .header .alpha button:hover{
    
    background-color: #d19b7c!important;
    
    }
    
    .header .alpha button span i{
    
    padding-left: 10px;
    font-size: 12px;
    }
    
    
    
    @media(max-width: 768px){
    
    
    .header h2{
    
    font-size: 25px;
    }
    
    .header p{
    
    font-size: 12px;
    line-height: 1.8em;
    width: 90%;
    }
    
    .header a{
    
    font-size: 13px;
    }
    
    .header .alpha button span i{
    
    font-size: 10.5px;
    }
    
    .header .one{
    
    background-image: url(../image/1.jpg);
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    
    }
    
    
    .header .two{
    
    background-image: url(../image/pexels-ono-kosuki-5974281.jpg);
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    }
    
    
    
    .header .three{
    
    background-image: url(../image/3.jpg);
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
    }
    
    
    
    }
    
    /**End Header**/
    
    /**This Is Section-one**/
    .section-one{
    
        padding: 40px 0px 10px 0px;
        margin: 30px 0px 0px 0px;
        font-family: 'Tajawal', sans-serif;
        
    
    }
    
    .section-one span{
    
    display: block;
    }
    
    .section-one .card1,.section-one .card2,.section-one .card3,.section-one .card4,.section-one .card5{
    
    display: flex;
    align-items: center;
    }
    
    .section-one .card1 div,.section-one .card2 div,.section-one .card3 div,.section-one .card4 div,.section-one .card5 div{
    
    box-shadow: 0px 0px 2px #ccc,0px 0px 2px #ccc;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    transition: 0.5s;
    }
    
    .section-one .card1 div span,.section-one .card2 div span,.section-one .card3 div span,.section-one .card4 div span,.section-one .card5 div span{
    
    padding: 5px 0px;
    font-weight: 500;
    color: #282828;
    }
    
    .section-one .card1 div span i,.section-one .card2 div span i,.section-one .card3 div span i,.section-one .card4 div span i,.section-one .card5 div span i{
    
    font-size: 40px;
    color: #b4ce5eef;
    
    }
    
    .section-one .card1 div:hover,.section-one .card2 div:hover,.section-one .card3 div:hover,.section-one .card4 div:hover,.section-one .card5 div:hover{
    
        background-color: #d19b7c!important;
        padding: 35px 0px;
    
    
    
    }
    
    .section-one .card1 div:hover i,.section-one .card2 div:hover i,.section-one .card3 div:hover i,.section-one .card4 div:hover i,.section-one .card5 div:hover i{
    
     color: #fff;
    
    }
    
    
    .section-one .card1 div:hover span,.section-one .card2 div:hover span,.section-one .card3 div:hover span,.section-one .card4 div:hover span,.section-one .card5 div:hover span{
    
     color: #fff;
    
    }
    
    
    
    @media(max-width:768px){
    
    .section-one .card1 div,.section-one .card2 div,.section-one .card3 div,.section-one .card4 div,.section-one .card5 div{
    
    margin: 10px;
    }
    
    
    }
    
    
    /**End Section-one**/
    
    /**Start Section-two**/
    
    .section-two{
    
    padding: 80px 0px 40px 0px;
    font-family: 'Tajawal', sans-serif;
    direction: ltr;
    
    }
    
    .section-two .photo{
    
    background-image: url(../image/2.jpg);
    height: 380px;
    background-repeat: no-repeat;
    background-size: 98% 100%;
    
    }
    
    .section-two .paragraph{
    
    width: 45%;
    margin-left: 2%;
    }
    
    .section-two .paragraph h4{
    
    color: #282828bd;
    margin-bottom: 35px;
    font-weight: 500;
    }
    
    .section-two .paragraph p{
    
    line-height: 1.8em;
    color: #777;
    font-size: 15.5px;
    }
    

    
.section-two .paragraph p i{

margin: 15px 0px;
}

.section-two .paragraph  p i{

width: 40px;
height: 35px;
color: #999;
border: 0.5px solid #bbb;
border-radius: 5px;
font-size: 14.5px;
margin-right: 5px;
text-align: center;
box-sizing: border-box;
padding: 10px 0px;
transition: 0.5s;
cursor: pointer;
}

.section-two .paragraph p i:hover{

color: #fff;
border: none;
background-color: #d19b7c!important;

}

    .section-two .paragraph button a {
    
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    }
    
    .section-two .paragraph button{
    
    padding: 9px 25px;
    border: none;
    background-color: #8cb600ef;
    border-radius: 4px;
    transition: 0.5s;
    margin: 20px 0px;
    
    }
    
    .section-two .paragraph button:hover{
    
    background-color: #d19b7c!important;
    
    }
    
    .section-two .paragraph button span{
    
    padding-left: 4px;
    }
    
    .section-two .paragraph button span i{
    
    font-size: 12px;
    }
    @media(max-width:768px){


            
    .section-two .photo{
    
        background-image: url(../image/2.jpg);
        height: 380px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        }
        
        .section-two .paragraph{
        
        width: 100%;
        margin: 20px 0px;
        }
        
        .section-two{
        
        padding: 10px 0px 10px 0px;
        font-family: 'Tajawal', sans-serif;
        
        }
        
        }
    
    
    /**End Section-two**/
    
    
    
    /**This Is Section Three**/
    .section-three{
    
     padding: 30px 0px 0px 0px;
     margin: 10px 0px;   
    font-family: 'Tajawal', sans-serif; 
    direction: ltr;
    
    }
    
    .section-three .heading h4{
    
    text-align: center;
    padding: 20px 0px;
    color: #282828bd;
    font-weight: 500;
    
    }
    
    .section-three .photo1 .photo11{
    background-image: url(../image/pexels-polina-tankilevitch-5583069.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
    }
    
    
    .section-three .photo2 .photo22{
    background-image: url(../image/pexels-ono-kosuki-5973969.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
    }
    
    
    .section-three .photo3 .photo33{
    background-image: url(../image/pexels-brett-sayles-1550131.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
    }
    
    .section-three .photo4 .photo44{
    background-image: url(../image/pexels-max-vakhtbovych-7018251.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
    }
    
    .section-three .photo5 .photo55{
    background-image: url(../image/pexels-soloman-soh-1492232.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
    }
    
    .section-three .photo6 .photo66{
    background-image: url(../image/pexels-alex-tepetidis-5279317.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 270px;
    }
    
    .section-three .photo1,.section-three .photo2,.section-three .photo3,.section-three .photo4,.section-three .photo5,.section-three .photo6
    {
    
    margin: 1% 0px;
    }
    
    
    .section-three .photo1 .alpha,.section-three .photo2 .alpha,.section-three .photo3 .alpha,.section-three .photo4 .alpha,.section-three .photo5 .alpha,.section-three .photo6 .alpha
    {
    
    background-color:rgba(114, 73, 48, 0.7);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    }
    
    .section-three .alpha i{
    
    color: #fe590f;
    font-size: 22px;
    font-weight: 900;
    }
    
    .section-three .alpha span{
    
    padding: 13px 15px 11px 15px;
    background-color: #fff;
    border-radius: 50%;
    }
    
    
    .section-three .photo1 .alpha:hover,.section-three .photo2 .alpha:hover,.section-three .photo3 .alpha:hover,.section-three .photo4 .alpha:hover,.section-three .photo5 .alpha:hover,.section-three .photo6 .alpha:hover
    {
    
    opacity: 1;
    }
    
    
    .section-three .btn button a {
    
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    }
    
    .section-three .btn button{
    
    padding: 9px 28px;
    border: none;
    background-color: #8cb600ef;
    border-radius: 4px;
    transition: 0.5s;
    margin: 20px 0px;
    
    }
    
    .section-three .btn button:hover{
    
    background-color: #d19b7c!important;
    
    }
    
    .section-three .btn button span{
    
    padding-left: 4px;
    }
    
    .section-three .btn button span i{
    
    font-size: 11.5px;
    }


    @media(max-width:768px){

    .section-three{
        
     padding: 10px 0px 0px 0px;
     margin: 10px 0px;   
     font-family: 'Tajawal', sans-serif;
        
     }
    }
    /**End Setion Three**/
    
/**This Is Contact**/


.contact{


padding: 80px 0px 20px 0px;
font-family: 'Tajawal', sans-serif;
margin-top: 0px!important;
    
}
    
    
    
    .contact form input{
    
    border: none;
    padding: 12px 8px;
    border: 1px solid #ccc;
    margin: 12px 0px;
    width: 48%;
    margin-right: 1.5%;
    outline: none;
    border-radius: 3px;
    
    }
    textarea{
    
    width: 98.5%;
    margin-right: 1.5%;
    outline: none;
    border: 1px solid #ccc;
    margin-top: 12px;
    padding: 11px 8px;
    border-radius: 3px;
    resize: none;
    
    
    }
    
    .contact form input::placeholder{
    
    font-size: 15px;
    color: #aaa;
    }
    
    .contact form textarea::placeholder{
    
    font-size: 15px;
    color: #aaa;
    }
    
    .contact form input[type="submit"]{
    width: 30%;
    padding: 12px 6px;
    font-size: 15px;
    background-color: #8cb600ef;
    border: none;
    color: #fff;
    transition: 0.5s;
    }
    
    .contact form input[type="submit"]:hover{
    
    background-color: #d19b7c!important;
    }
    
    .contact .contact-para h4{
    
    color: #282828bd;
    padding-bottom: 20px;
    }
    
    
    .contact .contact-para p{
    
    width: 90%;
    padding: 5px 0px;
    line-height: 1.8em;
    font-size: 15.5px;
    color: #777;
    }
    
    
    .contact .contact-para p i{
    
    padding-right: 9px;
    font-size: 20px;
    color: #b4ce5eef;
    
    }
    
    @media(max-width:768px){
    
    .contact form input,textarea{
    
    width: 100%;
    
    }
    
    .contact .contact-para p{
    
    width: 100%;
    }
    
    }
    
    
    /**End Contact**/
    



    
    /**This Is Section Four**/
    
    .section-four{
    
    padding: 80px 0px 60px 0px;
    font-family: 'Tajawal', sans-serif;
    background-color: #404c4e;
    direction: ltr;
    }
    
    .section-four .one p{
    
    padding: 10px 0px;
    line-height: 1.8em;
    color: #ddd;
    font-size: 15px;
    font-weight: 300;
    }
    
    .section-four .one p:nth-last-of-type(2){
    
    padding: 0px;
    }
    
    .section-four .one a{
    
    text-decoration: none;
    color: #eee;
    padding: 10px 0px 30px 0px;
    display: block;
    font-size: 25px;
    font-weight: 600;
    }
    
    .section-four .one a span{
    
    color: #0da574;
    
    }
    
    
    .section-four .two h4{
    
    padding: 15px 0px 25px 0px;
    font-size: 22px;
    font-weight: 500;
    color: #eee;
    
    }
    
    .section-four .two p a{
    
    text-decoration: none;
    }
    
    .section-four .two p span{
    
    color: #ddd;
    font-size: 15px;
    padding-right: 8px;
    
    }
    
    .section-four .two p span i{
    
    font-size: 11px;
    }
    
    
    .section-four .three{
    
        padding: 12px 0px 20px 0px;
    }
    
    
    
    /**End Section Four**/
    
    /**This Is Footer**/
    
    .footer{
    
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-family: 'Tajawal', sans-serif;
    background-color: #384146!important;
    direction: ltr;
    font-weight: 300;
    
    }
    
    .footer .para p,.footer .icon p{
    
    padding: 0px;
    margin: 0px;
    }
    
    .footer .para p{
    
    color: #ddd;
    font-size: 16px;
    padding: 20px 0px 0px 0px;
    
    }
    
    .footer .icon{
    
    text-align: right;
    padding: 10px 0px 10px 0px ;
    
    }
    
    .footer .icon p i{
    
    width: 40px;
    height: 35px;
    color: #ccc;
    border: 0.5px solid #888;
    border-radius: 5px;
    font-size: 14.5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0px;
    transition: 0.5s;
    cursor: pointer;
    }
    
    .footer .icon p i:hover{
    
    color: #fff;
    border: none;
    background-color: #d19b7c!important;
    
    }
    
    @media(max-width:768px){
    
    .footer .icon{
    
    text-align: center;
    padding: 10px 10px 10px 10px ;
    margin: 7px 0px;
    
    }
    
    }
    
    /**End Footer**/
    
    ::-webkit-scrollbar{
    
    width: 5px;
    }
    
    ::-webkit-scrollbar-thumb{
    
    background-color: #ccc;
    border-radius: 8px;
    }